/* Write your CSS here */
.img {
  height: 200px;
  width: 200px;
  border-radius: 10px;
}
.bg1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.para1 {
  color: #252627;
  font-family: 'Roboto';
  font-size: 10px;
}
